/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2015, 4:25:43 PM
    Author     : Fernando
*/

.campo {
    -fx-padding: 0;
    -fx-spacing: 0;
	-fx-alignment: TOP_RIGHT;
}

.botoes {
    -fx-padding: 5 0 0 0;
    -fx-spacing: 3;
	-fx-alignment: BASELINE_CENTER;
}
.erro {
	-fx-effect: dropshadow( three-pass-box , rgba(255,0,0,0.8) , 8, 0.0 , 0 , 0 );
}